<div class="fix">

</div>
<br><br><br><br>
<div class="container wrap">
<%= image_tag("https://s3-us-west-2.amazonaws.com/nirvana2016/image/logo-01.png") %>
<h3>LOGO意涵：雨後之弓附雲間 心中的希望掛在弦上射向未來</h3>
<br>

<p>姓名：吳柏青</p>
<p>畢業於中原大學應用數學系，論文題目為“”多媒體技術之研究與整合應用”</p>
<br>
<p>2006年加入無國界擔任擔任美術設計，這階段除了flash與photoshop等美工軟體外，也開始學習html與css網頁開發技巧，而後開始iReport的報表開發以及熟識當時公司所使用的Oracle,最後進而開始使用公司的核心工具SOA</p>
<br>
<p>爾後無國界併入艾迪訊科技，這段期間我的工作主軸即是開發維護SOA的專案產品，其中也包括了艾迪訊科技本身的ERP</p>
<p>而產品部分:當時我加入了一個InterREAD圖書館系統的團隊，在產品未成型之期我與各負責人訂了一套程序，這套程序也讓往後的上線版更較為順暢</p>
其中程序包含:開發團隊，測試員與PM測試程序  正式環境測試環境版本號管理 新客戶上線時資料庫初始化動作  更新包格式 ...<br>
<br>
<p>2015年8月開始學習Rails，除此之外git，SourctTree，Heroku，bootstrap以及我一開始接觸rails所使用的cloud9這一切都讓我有一種驚豔的感覺，<br>願能與君仕，並創萬事新，</p>
<br><br>
<%= image_tag("https://s3-us-west-2.amazonaws.com/nirvana2016/image/160507084452.png") %>
</div>
