/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
   @import "bootstrap-sprockets";
   @import "bootstrap";
   @import "font-awesome";


   body {
       font-family: Arial,Helvetica,sans-serif;
       color: #626264;
   }
    .product-price{
      padding-top: 20px;
      padding-bottom: 20px;

      font-size: 24px;
      font-weight: bold;
      color: #0000ff;
    }
    /* menu置頂 */
    .fix{
      width:100%;
      position:fixed;
      z-index:5;
    }
    /*首頁產品說明高度固定*/
    .description_fix_h{
      height: 60px;
    }

    .navbar-inverse {
        background: rgba(50, 50, 50, 0.4);
        border-color: rgba(0, 0, 0, 0);
    }
      /* banner 滑入的底色 */
    .navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
        background-color: rgba(50, 50, 50, 0.4);
        color: #FFF;
    }
