/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
body,
html {
    font-family: Arial,Helvetica,sans-serif;
    color: #626264;
    height: 100%;
}
.product-price {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
    color: #0000ff;
}
/* menu置頂 */
.fix {
    width: 100%;
    position: fixed;
    z-index: 5;
}
/*首頁產品說明高度固定*/
.description_fix_h {
    height: 120px;
    min-height: 120px;
}
.navbar-inverse {
    /* background: rgba(100, 100, 100, 1); */
    background-color: #000000;
    border-color: rgba(0, 0, 0, 0);
}
/* banner 滑入的底色 */
.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:focus,
.navbar-inverse .navbar-nav > .open > a:hover {
    background-color: rgba(50, 50, 50, 1);
    color: #FFF;
}
.footer {
    width: 100%;
    position: relative;
    height: 130px;
    margin-top: -130px;
    /* background-color: rgba(50, 50, 50, 1); */
    background-color: #000000;
}
.wrap {
    min-height: 100%;
}
.footer_text {
    padding-top: 20px;
    padding-left: 20px;
}

/* 圖片與文字間距 */
.thumbnail{
  margin-bottom: 5px;
}
.welcome-prod{
  min-height: 150pt;
  min-width: 180px;
}

.welcome-prod-text{
  margin-top:-50px;
  margin-left:10px;
  color: #FFFFFF;
  /* text-shadow: 2px 2px #434a54; */
  text-shadow: 2px 0 0 #666666, -2px 0 0 #666666, 0 2px 0 #666666, 0 -2px 0 #666666, 1px 1px #666666, -1px -1px 0 #666666, 1px -1px 0 #666666, -1px 1px 0 #666666;
  max-width: 160px;
}

.url_color{
  color:#FFFFFF;
  text-decoration:#FFFFFF;
}


.product_title{
  color:#666666;
  font-weight: bold;
}
.product_price{
  color:#FF0000;
}
.product_dec{
  color:#999999;
  font-size:10pt;
}
.welcome-good-text{
  min-height: 80pt;
  max-height: 80pt;
}
